* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: "Iosevka Nerd Font Mono";
}

.date {
  font-family: "IBM Plex Sans";
  font-size: 12pt;
  font-weight: 400;
}

$background: #3a3a3a;

menu {
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: #fff;

  menuitem {
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;
    transition: all .2s ease;

    &:backdrop {
      background-color: $background;
    }
  }

  menuitem arrow {
    min-width: 16px;
    min-height: 16px;

    &:dir(ltr) {
      -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      margin-left: 10px;
      margin-right: 0;
    }
  }

  menuitem:hover {
    background-color: blue;
  }
}
.systray {
    all: unset;
    min-width: 90px;
    // width: 10%;
}

// Global Styles
.bar {
  background-color: $background;
  color: #b0b4bc;
  padding: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspaces button:hover {
  color: #D35D6E;
}
